@media (min-width: 768px) {
  .home {
    padding: 50px 0 0 100px;
    width: 500px;
  }
}
@media (max-width: 767px) {
  .home {
    padding: 20px 50px;
  }
}

.main-home-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: gray;
}
.home-title {
  margin-bottom: 10px;
}

.home-desc {
  margin-bottom: 50px;
}

.start-option {
  display: flex;
  gap: 20px;
}

.login-btn {
  background-color: rgb(47, 255, 134);
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  color: rgb(0, 89, 37);
  font-weight: 800;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  text-decoration: none;
}
.login-btn:hover {
  box-shadow: 0 0 black;
  transform: translate(3px, 3px);
}
.register-btn {
  background-color: rgb(47, 141, 255);
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  color: rgb(205, 228, 255);
  font-weight: 800;
  border: 2px solid black;
  box-shadow: 3px 3px black;
  text-decoration: none;
}
.register-btn:hover {
  box-shadow: 0 0 black;
  transform: translate(3px, 3px);
}
