@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", Helvetica;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

*::-webkit-scrollbar {
  display: none;
}

.TodoWrapper {
  margin-top: 50px;
}

.todo-lists {
  display: flex;
  flex-direction: column-reverse;
}

.TodoForm {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.todo-input {
  width: 280px;
  padding: 5px;
  outline: none;
  border: 2px solid black;
  border-radius: 5px;
}

.todo-input::placeholder {
  font-weight: 700;
}

.todo-btn {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid black;
  background-color: greenyellow;
  font-weight: 700;
  box-shadow: 3px 3px black;
  margin-bottom: 3px;
}
.todo-btn:hover {
  transform: translate(3px, 3px);
  box-shadow: 0 0 black;
}
.todo-btn-edit {
  border-radius: 5px;
  padding: 5px;
  border: 2px solid black;
  background-color: rgb(47, 144, 255);
  font-weight: 700;
}

.Todo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.todos-title {
  margin-bottom: 20px;
  font-size: 2rem;
}

.todo-task {
  width: 180px;
  padding: 10px;
  border: 2px solid black;
  background-color: rgb(193, 139, 255);
  border-radius: 5px;
  word-wrap: break-word;
  font-size: 0.8rem;
  font-weight: 600;
}

.completed {
  color: gray;
  text-decoration: line-through;
  position: relative;
}
.completed::after {
  position: absolute;
  right: 0;
  content: "✔";
  color: rgb(0, 0, 0);
}

.icons {
  display: flex;
  gap: 10px;
  margin-bottom: 3px;
}

.edit-icon {
  padding: 5px;
  box-shadow: 3px 3px black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(111, 152, 255);
}
.edit-icon:hover {
  transform: translate(3px, 3px);
  box-shadow: 0 0 black;
}
.delete-icon {
  padding: 5px;
  box-shadow: 3px 3px black;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(255, 111, 111);
}
.delete-icon:hover {
  transform: translate(3px, 3px);
  box-shadow: 0 0 black;
}

@media (max-width: 767px) {
  .todo-input {
    width: 280px;
    padding: 5px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
  }

  .todo-task {
    width: 280px;
    padding: 5px;
    border: 2px solid black;
    background-color: rgb(193, 139, 255);
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  .todo-input {
    width: 280px;
    padding: 8px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
  }

  .todo-task {
    width: 280px;
    padding: 8px;
    border: 2px solid black;
    background-color: rgb(193, 139, 255);
    border-radius: 5px;
  }
}
